html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.header{
    position:fixed;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    color: gold;
    font-family:'Tangerine', serif;
    font-size: 40px;
    padding: 0 40px;
    }
a{color:goldenrod; text-decoration: none;} a:hover{color:gold}
div.Socials{
    margin-left:64%;
    display:flex;
    gap: 10px;
}
.Socials a:hover img{
    filter: saturate(4);
}
img.linkedin_icon{
    height: 36px;
    margin-top:13px;
}
img.github_icon,img.mail_icon{
    height: 50px;
    margin-top: 7px;
}
body{

    margin: 0;
}

#home{
    background-image: url(icons/background.jpg);
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#hello_text{
    color: goldenrod;
    margin:auto;
    opacity:1;
    transition: opacity 1.5s ease-in-out;
    font-size:80px;
}
#about_section{
    background-image: url(icons/background.jpg);
    background-size:cover;
    height:100vh;
}
#project_section{
    background-image: url(icons/background.jpg);
    background-size:cover;
    height:100vh;
}
#copyright_section{background-color:black;text-indent:70%;}